
body {
    padding: 1%;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.convertBtn {
    width: 70px;
    height: 25px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    background-color: lightskyblue;
    font-weight: bold;
}

:not(.convertBtnDisabled).convertBtn:hover {
    cursor: pointer;
}

.convertBtnDisabled {
    cursor: not-allowed;
}

.configInputsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 1% 0;

}

.typePrefix,
.typeSuffix {
    display: inline-flex;
    margin: 1%;
}

.typePrefix label,
.typeSuffix label {
    min-width: 83px;
    margin-right: 5px;
}

.typePrefix {
    margin-right: 10px;
}

.textAreasContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
}

textarea {
    width: 100%;
    margin: 1%;
}

.errorText {
    color: #ff0000;
    font-weight: bold;
    font-size: 1.5rem;
}